  <div id="bundle-tests" class="container-fluid">
    <h2>Builds</h2>

    <div class="panel panel-default">
      <div class="panel-heading test" role="button" data-toggle="collapse" href="#test-results1" aria-expanded="false" aria-controls="collapseExample">
            <h3 class="panel-title">
              <span>Build: <a href="https://autobuilder.yoctoproject.org/main/builders/nightly-ppc-lsb/builds/587" onclick="(function(e){ e.stopPropagation(); })(event)">#587</a> | Builder: <a href="https://autobuilder.yoctoproject.org/main/builders/nightly-ppc-lsb" onclick="(function(e){ e.stopPropagation(); })(event)">nightly-ppc-lsb</a></span>
              <span class="label label-danger">fail</span>
              <span class="navbar-right date">
                Dec. 4, 2015, 8:17 a.m.
              </span>
            </h3>
      </div>
      <div class="panel-body collapse in" id="test-results1">
        <h3>Failed build steps: 3</h3>
        <ul class="list-unstyled" style="margin-top:20px;">
          <li>
            <h4>
              <a href="https://autobuilder.yoctoproject.org/main/builders/nightly-ppc-lsb/builds/587/steps/BuildImages">16. BuildImages</a>
              <small style="padding-left:10px;"><a href="https://autobuilder.yoctoproject.org/main/builders/nightly-ppc-lsb/builds/587/steps/BuildImages/logs/stdio">view log</a></small>
            </h4>
            <p>Building core-image-lsb core-image-lsb-dev core-image-lsb-sdk core-image-lsb-qt3 failed</p>
          </li>
          <li>
            <h4>
              <a href="#">17. Running Sanity Tests</a>
              <small style="padding-left:10px;"><a href="#">view log</a></small>
            </h4>
            <p>Running Sanity Tests failed</p>
          </li>
          <li>
            <h4>
              <a href="#">19. BuildImages_1</a>
              <small style="padding-left:10px;"><a href="#">view log</a></small>
            </h4>
            <p>Building core-image-lsb core-image-lsb-sdk failed</p>
          </li>
        </ul>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading test" role="button" data-toggle="collapse" href="#test-results2 " aria-expanded="false" aria-controls="collapseExample">
            <h3 class="panel-title">
              <span>Build: <a href="https://autobuilder.yoctoproject.org/main/builders/nightly-ppc-lsb/builds/587" onclick="(function(e){ e.stopPropagation(); })(event)">#586</a> | Builder: <a href="https://autobuilder.yoctoproject.org/main/builders/nightly-ppc-lsb" onclick="(function(e){ e.stopPropagation(); })(event)">nightly-ppc-lsb</a></span>
              <span class="label label-danger">fail</span>
              <span class="navbar-right date">
                Dec. 3, 2015, 8:56 p.m.
              </span>
            </h3>
      </div>
      <div class="panel-body collapse" id="test-results2">
        <h3>Failed build steps: 3</h3>
        <ul class="list-unstyled" style="margin-top:20px;">
          <li>
            <h4>
              <a href="https://autobuilder.yoctoproject.org/main/builders/nightly-ppc-lsb/builds/587/steps/BuildImages">16. BuildImages</a>
              <small style="padding-left:10px;"><a href="https://autobuilder.yoctoproject.org/main/builders/nightly-ppc-lsb/builds/587/steps/BuildImages/logs/stdio">view log</a></small>
            </h4>
            <p>Building core-image-lsb core-image-lsb-dev core-image-lsb-sdk core-image-lsb-qt3 failed</p>
          </li>
          <li>
            <h4>
              <a href="#">17. Running Sanity Tests</a>
              <small style="padding-left:10px;"><a href="#">view log</a></small>
            </h4>
            <p>Running Sanity Tests failed</p>
          </li>
          <li>
            <h4>
              <a href="#">19. BuildImages_1</a>
              <small style="padding-left:10px;"><a href="#">view log</a></small>
            </h4>
            <p>Building core-image-lsb core-image-lsb-sdk failed</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading test" role="button" data-toggle="collapse" href="#test-results3" aria-expanded="false" aria-controls="collapseExample">
            <h3 class="panel-title">
              <span>Build: <a href="https://autobuilder.yoctoproject.org/main/builders/nightly-ppc-lsb/builds/587" onclick="(function(e){ e.stopPropagation(); })(event)">#585</a> | Builder: <a href="https://autobuilder.yoctoproject.org/main/builders/nightly-ppc-lsb" onclick="(function(e){ e.stopPropagation(); })(event)">nightly-ppc-lsb</a></span>
              <span class="label label-danger">fail</span>
              <span class="navbar-right date">
                Dec. 3, 2015, 10:24 a.m.
              </span>
            </h3>
      </div>
      <div class="panel-body collapse" id="test-results3">
        <h3>Failed build steps: 3</h3>
        <ul class="list-unstyled" style="margin-top:20px;">
          <li>
            <h4>
              <a href="https://autobuilder.yoctoproject.org/main/builders/nightly-ppc-lsb/builds/587/steps/BuildImages">16. BuildImages</a>
              <small style="padding-left:10px;"><a href="https://autobuilder.yoctoproject.org/main/builders/nightly-ppc-lsb/builds/587/steps/BuildImages/logs/stdio">view log</a></small>
            </h4>
            <p>Building core-image-lsb core-image-lsb-dev core-image-lsb-sdk core-image-lsb-qt3 failed</p>
          </li>
          <li>
            <h4>
              <a href="#">17. Running Sanity Tests</a>
              <small style="padding-left:10px;"><a href="#">view log</a></small>
            </h4>
            <p>Running Sanity Tests failed</p>
          </li>
          <li>
            <h4>
              <a href="#">19. BuildImages_1</a>
              <small style="padding-left:10px;"><a href="#">view log</a></small>
            </h4>
            <p>Building core-image-lsb core-image-lsb-sdk failed</p>
          </li>
        </ul>
      </div>
    </div>

  </div>

