{% extends "base.html" %}

{% load person %}
{% load static %}
{% load patch %}
{% load listurl %}

{% block title %}{{project.name}}{% endblock %}
{% block headers %}
<script type="text/javascript">
$(function () {
    pw.setup_series({ patches: 'series-patchlist' });
});
</script>
<script type="text/javascript" src="{% static "js/series.js" %}"></script>
<script type="text/javascript">
function toggle_headers(link_id, headers_id)
{
    var link = document.getElementById(link_id)
    var headers = document.getElementById(headers_id)

    var hidden = headers.style['display'] == 'none';

    if (hidden) {
        link.innerHTML = 'hide';
        headers.style['display'] = 'block';
    } else {
        link.innerHTML = 'show';
        headers.style['display'] = 'none';
    }

}
</script>
{% endblock %}

{% block body %}
  <h1>{{ series.name }}</h1>

  <div class="core-info">
    <span data-toggle="tooltip" title="View all patches submitted by this user">Submitted by {{ series.submitter|personify:project }} on {{ series.submitted }}</span>
    <span>|</span>
    <span>Reviewer: {{ series.reviewer }}</span>
    <span>|</span>
    <span>Updated on: {{ series.last_updated }}</span>
    <span>|</span>
    <span>Series ID: <strong>{{ series.pk }}</strong></span>
  </div>

  <nav class="navbar navbar-default" role="navigation" id="series-navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse2">
        <ul class="nav navbar-nav">
          <li>
            <select id="revs-list" data-toggle="tooltip" title="Select a Series Revision">
              {% for revision in revisions %}
                <option {% if forloop.last %}selected="selected"{%endif%} value='rev{{ revision.version }}'>
                  Revision <strong>{{ revision.version }}</strong>
                </option>
              {% endfor %}
            </select>
          </li>
          <li id="cover-letter-tab">
            <a href="#" data-toggle="tooltip" title="View the Cover Letter if available">Cover letter</a>
          </li>
          <li id="patches-tab">
            <a href="#" data-toggle="tooltip" title="List patches from selected revision">
              Patches ({{ series.latest_revision.n_patches }})
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="cover-letter-view">
    {% if cover_letter %}
      <h2>Cover Letter</h2>
      <div class="comment">
        <pre class="content">
          {{ cover_letter }}
        </pre>
      </div>
    {% else %}
      <h2 style="color:#909090">No cover letter was found for this series.</h2>
    {% endif %}
  </div>

  <div class="tab-content" id="patches-list">
    {% for revision in revisions %}
      <div role="tabpanel" id="rev{{ revision.version }}"
           class="tab-pane fade{% if forloop.last %} in active{% endif %}">
        <h3>Patches <a href="{% url 'seriesrevision-mbox' series.pk revision.version %}" data-toggle="tooltip"
                     title="Download all patches in selected revision as mbox">download mbox</a></h3>
        <div class="well transparent">
        <table class="table table-hover table-condensed pw-list">
          <thead>
            <tr>
              {% if user.is_authenticated %}
                <th>
                  <input type="checkbox" name="{{ revision.version }}-sel-all" data-toggle="tooltip" title="Select all patches in current revision for status or bundling changing"/>
                </th>
              {% endif %}
              <th>Name</th>
              <th>Submitter</th>
              <th>State</th>
            </tr>
          </thead>

          {% for patch in revision.patch_list %}
            <tbody>
              <tr id="patch_row:{{patch.id}}">
                {% if user.is_authenticated %}
                  <td>
                    <input type="checkbox" name="patch_id:{{patch.id}}" data-rev="{{ revision.version }}"
                     data-toggle="tooltip" title="Select this patch for status or bundling changing"/>
                  </td>
                {% endif %}
                <td><a href="#" class="patch-link" data-toggle="tooltip" title="Click to view the patch at bottom section"
                     data-url="{% url 'patchwork.views.patch.patch' patch_id=patch.id %}"
                     >{{ patch.name|default:"[no subject]"|truncatechars:100 }}</a></td>
                <td>{{ patch.submitter|personify:project }}</td>
                <td>{{ patch.state }}</td>
              <tr>
            </tbody>
          {% endfor %}
        </table>
        </div>
      </div>
    {% endfor %}

    <div id="seriesForm">
    {% if user.is_authenticated %}
    <div class="patchforms">
      {% if patchform %}
        <div class="patchform patchform-properties">
          <h3>Series patches edit</h3>
          <form method="post" id="seriesForm-patches">
            {% csrf_token %}
            <input type="hidden" name="patches"/>
            <table class="form">
              <tr>
                <th>Change state:</th>
                <td>
                  {{ patchform.state }}
                  {{ patchform.state.errors }}
                </td>
              </tr>
              <tr>
                <th>Delegate to:</th>
                <td>
                    {{ patchform.delegate }}
                    {{ patchform.delegate.errors }}
                </td>
              </tr>
              <tr>
                <th>Archive:</th>
                <td>
                  {{ patchform.archived }}
                  {{ patchform.archived.errors }}
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <button id="seriesPatches-update">Update</button>
                </td>
              </tr>
            </table>
          </form>
        </div>
      {% endif %}
    </div>
    {% endif %}

    {% if createbundleform %}
      <div class="patchform patchform-bundle" id="seriesForm-bundles">
        <h3>Bundling</h3>
          <table class="form">
          <tr>
            <td>Create bundle:</td>
            <td>
              {% if createbundleform.non_field_errors %}
                <dd class="errors">{{createbundleform.non_field_errors}}</dd>
              {% endif %}
                <form method="post">
                {% csrf_token %}
                <input type="hidden" name="patches"/>
                <input type="hidden" name="action" value="createbundle"/>
                {% if createbundleform.name.errors %}
                  <dd class="errors">{{createbundleform.name.errors}}</dd>
                {% endif %}
                {{ createbundleform.name }}
                <input value="Create" type="submit" id="seriesPatches-create"/>
              </form>
            </td>
          </tr>
          {% if bundles %}
            <tr>
              <td>Add to bundle:</td>
              <td>
                <form method="post">
                {% csrf_token %}
                <input type="hidden" name="patches"/>
                <input type="hidden" name="action" value="addtobundle"/>
                <select name="bundle_id">
                  {% for bundle in bundles %}
                    <option value="{{bundle.id}}">{{bundle.name}}</option>
                  {% endfor %}
                </select>
                <input value="Add" type="submit"
                 id="seriesPatches-add"/>
                </form>
              </td>
            </tr>
          {% endif %}
          </table>
      </div>
    {% endif %}
    </div>

  </div>  
  <div id="patch-view" class="container-fluid"></div>

{% endblock %}
